.name0{
	font-size: 45px;
	font-style: italic;
	color: white;
	text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.name1{
	vertical-align: -60px;
}

#img0{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact{
	position: absolute;
	left: 44.4%;
	top: 49%;
	font-family: "Courier New", Courier, monospace;
	color: white;
}

body {
 background-image: url("bg.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 80vh;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#button {
    margin: 10%;
    position: absolute;
    top: 49%;
    left: 43%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: -140px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color {
    background-image: linear-gradient(to right, #c0392b 0%, #8e44ad  51%, #c0392b  100%);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

